.wrapper-1 {
  margin-top: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}
.invoice {
  min-height: 60px;
  background-color: #a62a22;
}
.info {
  min-height: 90px;
}
.totalbox {
  margin-top: 20px;
  margin-right: 20px;
}
.total {
  margin-right: 20px;
}
.infoLeft {
  margin: 20px;
}
.infoRight {
  margin: 20px;
}
.table {
  margin: 0px 20px 20px 30px;
}
.thanks {
  min-height: 100px;
}
