.text{
    padding: 9px;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    outline: none;
}
.searchBar{
    margin-bottom: 1rem;
    align-items: center;
}

.searchIcon{
    position: relative;
    left: -30px;
    color: #999;
}
